<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogramlearn.mapper.SwiperMapper">
<!--    拆线呢轮播图图片-->
    <select id="selectSwiperImg" resultType="string">
        select * from swiper_img;
    </select>
</mapper>